* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --border-color: #5B68DF;
    --background-color: #020F20;
}

.overlay {
    display: flex;
    background: transparent;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.NavBarWrap {
    position: fixed;
    top: 0;
    display: flex;
    padding: 16px 213px;
    justify-content: top;
    align-items: start;
}

.NavBar {
    display: flex;
    width: 1014px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.NavBar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.NavBar ul {
    display: flex;
    width: 1014px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    list-style: None;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 20px;
    font-family: "Druk Wide Bold";
}

.can-item {
    color: var(--border-color) !important;
}

.NavBar li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    width: 20%;
    cursor: pointer;
}

.NavBar li:hover {
    color: var(--border-color);
}

.hover__div {
    position: absolute;
    width: 20%;
    height: 100%;
    transition: 0.25s;
    pointer-events: none;
    will-change: transfrom;
    opacity: 0;
}

.hover__div.active{
    opacity: 1;
}

.topLeft {
    position: absolute;
    top:0;
    left:0;
    width:5%;
    height:10%;
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-radius: 0.5px;
}

.topRight {
    position: absolute;
    top:0;
    right:0;
    width:5%;
    height:10%;
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-radius: 0.5px;
}

.bottomRight {
    position: absolute;
    bottom:0;
    right:0;
    width:5%;
    height:10%;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: 0.5px;
}

.bottomLeft {
    position: absolute;
    bottom:0;
    left:0;
    width:5%;
    height:10%;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: 0.5px;
}